@page "/"

@inject PastryDbContext ctx
<div>
    <div min>
        <h1 class="text-center">I nostri dolci in vetrina</h1>
    </div>
    <table class="table">
        <tr class="card-header">
            <td class="text-center">Nome</td>
            <td class="text-center">Quantità</td>
            <td></td>
            <td class="text-center">Prezzo</td>
        </tr>

        @foreach (var pastry in _pastries)
        {

    <tr class="card-body">
        @if (DateTime.Now - pastry.ProductionDate < TimeSpan.FromDays(3))
        {
            <td class="text-center">@pastry.Name</td>
            <td class="text-center">@pastry.Quantity</td>
            @if (pastry.Ingredients != null && pastry.Ingredients.Count > 0)
            {
                <td>
                    <button class="btn btn-primary" @onclick="() => OpenIngredientsPopup(pastry)">
                        Ingredienti
                    </button>
                </td>
            }
            else
            {
                <td></td>
            }
            @if (DateTime.Now - pastry.ProductionDate < TimeSpan.FromDays(1))
            {
                <td class="text-center">@pastry.Price.ToString("N2") €</td>
            }
            else if (DateTime.Now - pastry.ProductionDate < TimeSpan.FromDays(2))
            {
                <td class="text-center">@((pastry.Price/100*80).ToString("N2")) €</td>
            }
            else if (DateTime.Now - pastry.ProductionDate < TimeSpan.FromDays(3))
            {
                <td class="text-center">@((pastry.Price/100*20).ToString("N2")) €</td>
            }
            else
            {
                <td></td>
            }


        }
    </tr>
        }
    </table>
</div>
@if (_showIngredientsPopup)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">@_selectedPastry.Name: ingredienti</h3>
                    <button type="button" class="close"
                            @onclick="ClosePopup">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>

                <div class="modal-body">
                    <br />
                    @foreach (var ingredient in _ingredients)
                    {
                        <p>
                        @ingredient.Name                           
                        @if (@ingredient.Quantity > 0)
                        {
                             @ingredient.Quantity.ToString("N0")
                        }   
                        @ingredient.MeasureUnit
                                    </p>
                    }
                    <br />
                    <br />
                    <button class="btn btn-primary"
                            @onclick="ClosePopup">
                        Chiudi
                    </button>
                </div>
            </div>
        </div>
    </div>
}
@code
{
    List<Pastry> _pastries;
    Pastry _selectedPastry;
    List<Ingredient> _ingredients;
    PastryDal _dalPastry;
    IngredientsDal _dalIngredients;
    bool _showIngredientsPopup;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _dalPastry = new PastryDal(ctx);
        _dalIngredients = new IngredientsDal(ctx);
        _pastries = _dalPastry.GetAll();
        foreach (var pastry in _pastries)
            pastry.Ingredients = _dalIngredients.GetIngredientsByPastry(pastry.Id);

    }

    protected void OpenIngredientsPopup(Pastry pastry)
    {
        _selectedPastry = pastry;
        _ingredients = pastry.Ingredients;

        _showIngredientsPopup = true;
    }

    protected void ClosePopup()
    {
        _showIngredientsPopup = false;
    }

}

