@page "/ingredients/{PastryId}"

@attribute [Authorize]

@inject NavigationManager NavigationManager
@inject PastryDbContext ctx

@if (_pastry == null)
{
    <h1 class="text-center">Richiesta non corretta</h1>
}
else
{
    <h1 class="text-center">@_pastryName: Ingredienti</h1>
    <br />
    <br />
    <div>
        <h3>Aggiungi ingrediente</h3>
        <table class="table">
            <tr class="card-header">
                <td>
                    <label>Nome:</label>
                    <input type="text" @onkeyup="@OnEnter" @bind-value="_newIngredient.Name" />
                </td>
                <td>
                    <label>Quantità:</label>
                    <input type="number" @onkeyup="@OnEnter" @bind-value="_newIngredient.Quantity" />
                </td>
                <td>
                    <label>Unità di misura:</label>
                    <input type="text" @onkeyup="@OnEnter" @bind-value="_newIngredient.MeasureUnit" />
                </td>
                <td>
                    <button class="btn btn-primary" @onclick="() => AddIngredient()">
                        <span class="oi oi-plus" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <br />
    <br />
    <div>
        <h3>Lista ingredienti:</h3>
        <table class="table">
            <tr class="card-header">
                <td class="text-center">Nome</td>
                <td class="text-center">Quantità</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @foreach (var ingredient in @_ingredients)
            {
                <tr>
                    <td class="text-center">@ingredient.Name</td>
                    <td class="text-center">@ingredient.Quantity @ingredient.MeasureUnit</td>
                    <td class="text-center">
                        <button class="btn btn-primary" @onclick="() => OpenEditPopup(ingredient)">
                            Edita
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary" @onclick="() => AskDeleteConfirmation(ingredient)">
                            <span class="oi oi-minus" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        </table>
    </div>

    @if (_showEditPopup)
    {
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Edita ingrediente</h3>
                        <button type="button" class="close"
                                @onclick="ClosePopup">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <label>Nome:</label>
                        <input class="form-control" type="text"
                               placeholder="Name"
                               @bind="_editingIngredient.Name" />
                        <br />
                        <label>Quantità:</label>
                        <input class="form-control" type="number"
                               placeholder="Quantità"
                               @bind="_editingIngredient.Quantity" />
                        <br />
                        <label>Unità di misuras:</label>
                        <input class="form-control" type="text"
                               placeholder="Unità di misura"
                               @bind="_editingIngredient.MeasureUnit" />
                        <br />
                        <br />
                        <button class="btn btn-primary"
                                @onclick="SaveAndClose">
                            Salva
                        </button>
                        <button class="btn btn-primary"
                                @onclick="ClosePopup">
                            Annulla
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (_showDeletePopup)
    {
        <ConfirmationComponent ConfirmationQuest="@_deleteIngredientMessage"
                               Argument="@_ingredientToDelete"
                               Result="@OnDeleteConfirmation" />
    }
}

@code {

    [Parameter]
    public string PastryId { get; set; }
    Pastry _pastry;
    IngredientsDal _dal;
    Ingredient _newIngredient;
    Ingredient _editingIngredient;
    Ingredient _ingredientToDelete;
    List<Ingredient> _ingredients;
    string _pastryName;
    bool _showEditPopup;
    bool _showDeletePopup;
    string _deleteIngredientMessage;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        int pastryId;
        if (Int32.TryParse(PastryId, out pastryId))
        {
            _dal = new IngredientsDal(ctx);
            _newIngredient = new Ingredient();
            _ingredients = new List<Ingredient>();
            var pastryDal = new PastryDal(ctx);
            _pastry = pastryDal.GetPastryById(pastryId);
            if (_pastry != null)
            {
                _pastryName = _pastry.Name;
                _ingredients = _dal.GetIngredientsByPastry(_pastry.Id);
                return;
            }
        }
    }

    protected void AddIngredient()
    {
        if (string.IsNullOrEmpty(_newIngredient.Name) || string.IsNullOrEmpty(_newIngredient.MeasureUnit) || _newIngredient.Quantity == 0)
            return;
        _newIngredient.PastryId = _pastry.Id;
        _dal.Add(_newIngredient);
        _ingredients.Add(_newIngredient);
        _newIngredient = new Ingredient();
    }

    protected void OnEnter(KeyboardEventArgs e)
    {
        if (e.Key == ConsoleKey.Enter.ToString())
            AddIngredient();
    }

    protected void OpenEditPopup(Ingredient ingredient)
    {
        _showEditPopup = true;
        _editingIngredient = new Ingredient { Id = ingredient.Id, Name = ingredient.Name, Quantity = ingredient.Quantity, PastryId = ingredient.PastryId };
    }

    protected void SaveAndClose()
    {
        _dal.Update(_editingIngredient);
        var item = _ingredients.Where(p => p.Id == _editingIngredient.Id).First();
        item = _editingIngredient;
        ClosePopup();
    }

    protected void ClosePopup()
    {
        _showEditPopup = false;

    }

    private void AskDeleteConfirmation(Ingredient ingredient)
    {
        _ingredientToDelete = ingredient;
        _deleteIngredientMessage = $"Rimuovi {ingredient.Name}?";
        _showDeletePopup = true;
    }

    protected void OnDeleteConfirmation(bool result)
    {
        if (result)
        {
            _dal.Delete(_ingredientToDelete);
            _ingredients.Remove(_ingredientToDelete);
        }
        _showDeletePopup = false;
    }
}
